.pricing_top {
  text-align: center;
}

.pricing_top h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pricing_top p {
  font-size: 1.1rem;
  color: var(--heading-color);
  line-height: 28px;
  margin-bottom: 50px;
}
.pricing_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.pricing_item:hover {
    transform: translateY(-10px);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.2);
}
.pricing_item{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 5px;
    width: 33%;
    background: #fff;
}

.pricing_card_top{
    padding: 30px;
    border-bottom: 1px solid #d3cef2;
    text-align: center;
}
.pricing_section_title{
    font-weight: 500;
}

.services{
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.services ul{
    margin-bottom: 40px;
    
}
.services ul li{
    margin-bottom: 8px;
}